/* -- GLOBAL RESET -- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -- GLOBAL STYLE -- */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-drand);
}

:root {
  --primary-drand: #4d5ae5;
  --text: #434455;
  --white-background: #ffffff;
  --hero-background: #2e2f42;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
}

/* -- INDEX STYLE PAGE -- */
/* -- HEADER -- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
}

.header-logo {
  padding: 10px 10px;
  margin-right: 76px;
}

.logo-color {
  color: var(--hero-background);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu-item:not(:last-child),
.header-contacts-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-menu-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 10px 10px;
  color: var(--hero-background);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

.header-contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.header-contacts-list {
  display: flex;
}

.header-contacts-link {
  padding: 10px 10px;
  color: var(--text);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--pressed-state);
}

/* -- MAIN -- */
/* -- SECTION HERO`S -- */

.heros {
  background-color: var(--hero-background);
  padding-top: 188px;
  padding-bottom: 188px;
}

.heros-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.heros-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-drand);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.heros-button:hover,
.heros-button:focus {
  background-color: var(--pressed-state);
  color: var(--pressed-state);
}

/* -- SECTION DIGNYTY -- */

.dignity {
  padding-top: 120px;
  padding-bottom: 120px;
}
.dignity-list {
  display: flex;
  gap: 24px;
}

.dignity-list-item {
  width: calc((100% - (24px * 3)) / 4);
}

.dignity-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  margin-bottom: 8px;
}

.dignity-item-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* -- SECTION DOING -- */

.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  text-align: center;
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-list-item {
  width: calc((100% - (24px * 2)) / 3);
}

/* -- SECTION TEAM -- */

.team {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - (24px * 3)) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 32px 16px;
}

.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item {
  background-color: var(--white-background);
}

.team-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
}

/* -- FOOTER -- */

.footer {
  background-color: var(--hero-background);
  padding: 100px 0px;
}

.footer-logo-color {
  color: var(--light);
}

.footer-paragraph {
  max-width: 264px;
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

/* -- PORTFOLIO STYLE PAGE -- */
/* -- MAIN -- */
/* -- SECTION FILTER&RESULT -- */

.filter-and-result {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.result-list-item {
  width: calc((100% - (24px * 2)) / 3);
}

.description-cards {
  padding: 32px 16px 64px 16px;
  border: 1px solid #e7e9fc;
}

.result-sub-title {
  margin-bottom: 8px;
}

.filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-drand);
  background-color: var(--light);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.result-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}

.result-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
